venv/*
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
front/node_modules/*
front/.next/
*.tar
*.tar.gz
*.7z
back/app/test.py
*/test.py
*/backend/logs
venv/lib/python3.11/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
logs/*
external/yara
front/node_modules/*
.venv/*
backend/source/__pycache__/dissect_engine.cpython-311.pyc
backend/source/tests.py
