alembic==1.13.3
celery==5.4.0
dissect
Django
django-celery-results
django-cors-headers
django-db
django-filter
djangorestframework
djangorestframework_simplejwt
flare-capa==8.0.1
flow.record
gunicorn==23.0.0
Jinja2==3.1.4
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg2-binary==2.9.10
ptyprocess==0.7.0
python-magic==0.4.27
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
rest-framework-simplejwt==0.0.2
SQLAlchemy==2.0.36
sqlparse==0.5.3
Werkzeug
yara-python
docutils
meilisearch
drf-yasg
channels